/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "keys_de_swiss.h"


#define DEFAULT        0
#define I3_WORKSPACE   1
#define I3_WINDOW      2

/ {
        behaviors {
                i3_tog_on: i3_toggle_layer_on {
                        compatible = "zmk,behavior-toggle-layer";
                        #binding-cells = <1>;
                        toggle-mode = "on";
                };
                i3_tog_off: i3_toggle_layer_off {
                        compatible = "zmk,behavior-toggle-layer";
                        #binding-cells = <1>;
                        toggle-mode = "off";
                };
        };

        macros {
                lwr_i3: lwr_i3 {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        wait-ms = <0>;
                        tap-ms = <0>;
                        bindings = <&macro_press &mo I3_WORKSPACE>, <&macro_pause_for_release>, <&macro_tap &i3_tog_off I3_WINDOW>, <&macro_release &mo I3_WORKSPACE>;
                };
                i3_ws1: i3_ws1 {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&macro_press &kp LGUI>, <&macro_tap &kp N1>, <&macro_release &kp LGUI>;
                };
                i3_ws2: i3_ws2 {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&macro_press &kp LGUI>, <&macro_tap &kp N2>, <&macro_release &kp LGUI>;
                };
                i3_ws3: i3_ws3 {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&macro_press &kp LGUI>, <&macro_tap &kp N3>, <&macro_release &kp LGUI>;
                };
                i3_ws4: i3_ws4 {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&macro_press &kp LGUI>, <&macro_tap &kp N4>, <&macro_release &kp LGUI>;
                };
                i3_ws5: i3_ws5 {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&macro_press &kp LGUI>, <&macro_tap &kp N5>, <&macro_release &kp LGUI>;
                };
                i3_ws6: i3_ws6 {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&macro_press &kp LGUI>, <&macro_tap &kp N6>, <&macro_release &kp LGUI>;
                };
                i3_ws7: i3_ws7 {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&macro_press &kp LGUI>, <&macro_tap &kp N7>, <&macro_release &kp LGUI>;
                };
                i3_ws8: i3_ws8 {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&macro_press &kp LGUI>, <&macro_tap &kp N8>, <&macro_release &kp LGUI>;
                };
                i3_ws9: i3_ws9 {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&macro_press &kp LGUI>, <&macro_tap &kp N9>, <&macro_release &kp LGUI>;
                };
                i3_ws0: i3_ws0 {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&macro_press &kp LGUI>, <&macro_tap &kp N0>, <&macro_release &kp LGUI>;
                };
                i3_scratch_show: i3_scratch_show {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&macro_press &kp LGUI>, <&macro_tap &kp DE_MINUS>, <&macro_release &kp LGUI>;
                };
                i3_scratch_move: i3_scratch_move {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&macro_press &kp LGUI>, <&macro_tap &kp DE_UNDER>, <&macro_release &kp LGUI>;
                };
                i3_move_mod: i3_move_mod {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        wait-ms = <0>;
                        tap-ms = <0>;
                        bindings = <&macro_press &kp LSHFT>, <&macro_pause_for_release>, <&macro_release &kp LSHFT>;
                };
                i3_ctrl_mod: i3_ctrl_mod {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        wait-ms = <0>;
                        tap-ms = <0>;
                        bindings = <&macro_press &kp LCTRL>, <&macro_pause_for_release>, <&macro_release &kp LCTRL>;
                };
                i3_focus_left: i3_focus_left {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&macro_press &kp LGUI>, <&macro_tap &kp LEFT>, <&macro_release &kp LGUI>;
                };
                i3_focus_down: i3_focus_down {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&macro_press &kp LGUI>, <&macro_tap &kp DOWN>, <&macro_release &kp LGUI>;
                };
                i3_focus_up: i3_focus_up {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&macro_press &kp LGUI>, <&macro_tap &kp UP>, <&macro_release &kp LGUI>;
                };
                i3_focus_right: i3_focus_right {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&macro_press &kp LGUI>, <&macro_tap &kp RIGHT>, <&macro_release &kp LGUI>;
                };
                i3_move_left: i3_move_left {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&macro_press &kp LGUI &kp LSHFT>, <&macro_tap &kp LEFT>, <&macro_release &kp LSHFT &kp LGUI>;
                };
                i3_move_down: i3_move_down {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&macro_press &kp LGUI &kp LSHFT>, <&macro_tap &kp DOWN>, <&macro_release &kp LSHFT &kp LGUI>;
                };
                i3_move_up: i3_move_up {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&macro_press &kp LGUI &kp LSHFT>, <&macro_tap &kp UP>, <&macro_release &kp LSHFT &kp LGUI>;
                };
                i3_move_right: i3_move_right {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&macro_press &kp LGUI &kp LSHFT>, <&macro_tap &kp RIGHT>, <&macro_release &kp LSHFT &kp LGUI>;
                };

                i3_split_e: i3_split_e {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&macro_press &kp LGUI>, <&macro_tap &kp E>, <&macro_release &kp LGUI>;
                };

                i3_split_w: i3_split_w {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&macro_press &kp LGUI>, <&macro_tap &kp W>, <&macro_release &kp LGUI>;
                };
                i3_split_v: i3_split_v {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&macro_press &kp LGUI>, <&macro_tap &kp V>, <&macro_release &kp LGUI>;
                };
                i3_float: i3_float {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&macro_press &kp LGUI &kp SHIFT>, <&macro_tap &kp SPACE>, <&macro_release &kp LGUI &kp SHIFT>;
                };
                i3_float_focus: i3_float_focus {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&macro_press &kp LGUI &kp SHIFT>, <&macro_tap &kp T>, <&macro_release &kp LGUI &kp SHIFT>;
                };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
// ---------------       ------------------------------------------------------------------------
// | TAB       | Q        | W       |  E       | R         |XXX|  T       |  Z    | U        |  I         | O       |  P       | ESC      |
// | SHFT      | A        | S       |  D       | F         |XXX|  G       |  H    | J        |  K         | L       |  ;       | BSPC     |
// | CTRL      | Y        | X       |  C       | V         |XXX|  B       |  N    | M        |  ,         | .       |  /       | DEL      |
//                        | GUI     |  LAYR    | SPC       |XXX|  ENT     |  RSE  | ALT      |
bindings = <      
     &kp TAB     &kp Q      &kp W      &kp E     &kp R            &kp T     &kp Z   &kp U       &kp I       &kp O     &kp P      &kp ESC
     &kp LSHFT   &kp A      &kp S      &kp D     &kp F            &kp G     &kp H   &kp J       &kp K       &kp L     &kp SEMI   &kp BSPC
     &kp LCTRL   &kp DE_Y   &kp X      &kp C     &kp V            &kp B     &kp N   &kp M       &kp COMMA   &kp DOT   &kp FSLH   &kp DEL
                            &kp LGUI   &lwr_i3   &kp SPACE        &kp RET   &mo 3   &kp RALT
                        >;
                };
                i3_workspace_layer {
// -----------------------------------------------------------------------------------------
// | SCR        | WS1     | WS2     | WS3          | Scratch Show     | Tog Float       |XXX| BTCLR        | BT1          | BT2          | BT3          | BT4          | BT5          |
// | SCRM       | WS4     | WS5     | WS6          | Scratch Move     |                 |XXX|              |              |              |              |              |              |
// | SHFT       | WS7     | WS8     | WS9          | WS0              | FLoat Focus     |XXX|              |              |              |              |              |              |
//                                  | GUI          | LWR-1            | SPC             |XXX| ENT          |              | ALT          |
bindings = <
     &kp TAB     &i3_ws1   &i3_ws2   &i3_ws3         &i3_scratch_show   &i3_float             &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4   &bt BT_CLR
     &kp LSHFT   &i3_ws4   &i3_ws5   &i3_ws6         &i3_scratch_move   &trans                &trans         &trans         &trans         &trans         &trans         &trans
     &kp LCTRL   &i3_ws7   &i3_ws8   &i3_ws9         &i3_ws0            &i3_float_focus       &trans         &trans         &trans         &trans         &trans         &trans
                                     &i3_tog_on 2    &trans             &kp SPACE             &kp RET        &trans         &kp RALT
                        >;
                };

                i3_window_layer {
// -----------------------------------------------------------------------------------------
// |              | SPLIT-W        | F-U            | SPLIT-E         | SPLIT-V     |        |XXX|        |        |         |       |        |       |
// | MOV          | F-L            | F-D            | F-R             |             |        |XXX|        |        |         |       |        |       |
// |              |                |                |                 |             |        |XXX|        |        |         |       |        |       |
//                                 |                |                 | SPC         |        |XXX|        |        |         |
bindings = <
     &trans         &i3_split_w      &i3_focus_up     &i3_split_e       &i3_split_v   &trans       &trans   &trans   &trans   &trans   &trans   &trans
     &i3_move_mod   &i3_focus_left   &i3_focus_down   &i3_focus_right   &trans        &trans       &trans   &trans   &trans   &trans   &trans   &trans
     &i3_ctrl_mod   &trans           &trans           &trans            &trans        &trans       &trans   &trans   &trans   &trans   &trans   &trans
                                                      &trans            &trans        &trans       &trans   &trans   &trans
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  ü  |  *  |  ö  |  )  | BSPC |
// | CTRL |  ä  |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT | UNL |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
bindings = <
   &kp TAB  &kp DE_EXCL &kp DE_AT &kp DE_HASH &kp DE_DLLR &kp DE_PRCNT   &kp DE_CARET &kp DE_U_UMLAUT &kp DE_ASTRK &kp DE_O_UMLAUT &kp DE_RPAR &kp BSPC
   &kp LCTRL &kp DE_A_UMLAUT &trans &trans   &trans   &trans      &kp DE_MINUS &kp DE_EQUAL &kp DE_LBKT  &kp DE_RBKT &kp DE_BSLH &kp DE_GRAVE
   &kp LSHFT &studio_unlock   &trans &trans   &trans   &trans      &kp DE_UNDER &kp DE_PLUS  &kp DE_LBRC  &kp DE_RBRC &kp DE_PIPE &kp DE_TILDE
                             &kp LGUI &trans   &kp SPACE   &kp RET   &trans    &kp RALT
                        >;
                };
        };
};
